body {
	font-family: 'Miriam Libre', sans-serif;
}

h1 {
	text-align: center;
}

#title {
	text-decoration: underline;
}

#quiz {
	text-indent: 10px;
	display:none;
}

.button {
	border: 2px solid;
	border-radius: 3px;
	width: 40px;
	padding: 0px 5px 0px 5px;
	position: relative;
	float: right;
	background-color: #DDDDDD;
	color: black;
	margin: 0 2px 0 2px;
}

.button.active {
	background-color: #F9F9F9;
	color: #525252;
}

button{
	position: relative;
	float: right;
}

.button a {
	text-decoration: none;
	color: black;
}

#container {
	width:80%;
	margin:auto;
	padding: 0 25px 40px 10px;
	background-color:#595959;
	border:4px solid #484848;
	border-radius:5px;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: 5px 5px 5px
}

ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

#prev {
	display:none;
}

#start {
	display:none;
	width: 90px;
}
 
